.vs/
TestResults/
build_output/
*.suo
*.sln.ide/
*.user
*.cache
[Bb]in/
[Oo]bj/
logs/
tools/NHProf/log.txt
_ReSharper*
*.ReSharper
TestResult.xml
.DS_STORE
Thumbs.db
.svn
*.patch
*.crunchproject.local.xml
*.crunchsolution.local.xml
src/TestResults/
src/.vs
MarsRover.Service/bin/Debug/
MarsRover.Core/bin/
MarsRover.Service/obj/
MarsRover.Core/bin/
MarsRover.Core/obj/
MarsRover.Web/bin/
MarsRover.WebApi/bin/
Tests/MarsRover.Tests/bin/
Tests/MarsRover.Tests/obj/
Tools/MarsRover.Migrator/bin/
packages/
MarsRover.Web/obj/
MarsRover.WebApi/obj/
MarsRover.Core/obj/
Tools/MarsRover.Migrator/obj/
/.vs/MarsRover/v14/.suo
MarsRover.Web/Logs/Logs.txt
.vs/MarsRover/v15/.suo
Repository/obj/
Repository/bin/
MarsRover.Core/MarsRover.Core.csproj.user
MarsRover.Service/bin/Release
