<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MarsRoverBaseApiUrl" value="https://api.nasa.gov/mars-photos/api/v1/rovers/"/>
    <add key="MarsRoverApiKey" value="edNqeLRIoCVYcDcpjoTSjbN8YcBtA3fOLimoIEd8"/>
    <add key="LocalStorageRootPath" value="Images\"/>
    <add key="MarsRoverWebApi" value="http://localhost:59582/"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
</configuration>